*.swp
.DS_Store
._.DS_Store
*/.DS_Store
*/._.DS_Store

.vscode
.idea

/build
/debug
/release
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
src/*.a
src/*.so
*.o
arch.c
src/respeaker.pc
*.wav
*.log
examples/C++/*_test
*.pyc



